@model IEnumerable<ToDoApp.Models.ToDoListModel>

@{
    ViewData["Title"] = "AllToDos";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencylevel)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListItem)
            </td>
            <td>
                @Html.Raw(item.Created.ToString("dd.MM.yyyy"))
            </td>
            <td>
                @Html.Raw(item.DueDate?.ToString("dd.MM.yyyy"))
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Urgencylevel)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
        </tr>
}
    </tbody>
</table>