@model IEnumerable<ToDoApp.Models.ToDoListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencylevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgencylevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToDoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToDoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToDoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
