@model IEnumerable<ToDoApp.Models.ToDoListModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencylevel)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListItem)
            </td>
            <td>
                @Html.Raw(item.Created.ToString("dd.MM.yyyy"))
            </td>
            <td>
                @Html.Raw(item.DueDate?.ToString("dd.MM.yyyy"))
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Urgencylevel)
            </td> 
            <td>
                <form method="post" asp-action="Done" asp-route-id="@item.ToDoId">
                    <input type="submit" value="Done" class="btn btn-success"/>
                </form>
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ToDoId">Edit</a>
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ToDoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*@section Scripts {
    <script>
        $(document).ready(()=> {
            $( "input:checkbox" ).click(e => {
                let data = {
                    id: $(e.target).attr('id'),
                    isDone: $(e.target).is(':checked')
                }
              
                $.post( "ToDoListModels/update", data, function( response ) {});
            })
        })
    </script>
}*@
